// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text {
  background: #ffffff;
  width: 960px;
  padding: 10px;
  text-align: left;
  border: 1px solid #cccccc;
  margin: 30px auto;
}

textarea{
  background: #ffffff;
  width: 960px;
  height: 300px;
  padding: 10px;
  text-align: left;
  border: 1px solid #cccccc;
  margin: 30px auto;
}

.user_nav grid-6{
  text-align: right;
}

.grid-6{
  text-align: right;
}
